
:root{
    --sky:#dacd6d;
    --lg:#9db56d;
    --dg:#466e61;
    --tree:#6a976c;
    --trunk:#374544;
}


body {
  width: 100%;
  background:var(--sky);
  overflow-x:hidden;
  text-align: center;
}

h1{
  color: white;
}
.map{
  top: 150px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  border: rgb(43, 1, 1) 2px solid;
  width: 850px;
  box-shadow: 0 0 0 5px rgba(85, 25, 1, 0.623);
}

.ground {
  background:var(--lg);
  height:300px;
  width:100%;
  position:absolute;
  bottom:0;
}

.ground2{
  background:var(--lg);
  height:300px;
  width:100%;
  position:absolute;
  bottom:10;
}

.hill1 {
  background:var(--lg);
  width:330px;
  height:230px;
  border-radius:100%;
  position:absolute;
  bottom:145px;
  left:7%;
}

.hill2 {
  background:var(--dg);
  width:400px;
  height:300px;
  border-radius:100%;
  position:absolute;
  bottom:110px;
  right:7%;
}

.tree {
  height:150px;
  width:150px;
  background-color:var(--tree);
  border-radius:100%;
}

.trunk {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 212px 10px;
  border-color: transparent transparent var(--trunk) transparent;
  margin-top:54px;
  margin-left:65px;
}

.leftbranch {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 60px 3px;
  border-color: transparent transparent var(--trunk) transparent;
  transform:rotate(-50deg);
  position:absolute;
  margin-top:12.5px;
  margin-left:-25px;
}

.rightbranch {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 2px 35px 2px;
  border-color: transparent transparent var(--trunk) transparent;
  transform:rotate(36deg);
  position:absolute;
  margin-top:4px;
  margin-left:9px;
}

.tree1 {
  position:absolute;
  bottom:180px;
  left:11%;
}

.tree2 {
  position:absolute;
  bottom:160px;
  left:calc(12% + 16px);
}

.tree3 {
  position:absolute;
  bottom:185px;
  right:11.5%;
}

.tree4 {
  position:absolute;
  bottom:185px;
  right:17.5%;
}

.tree5 {
  position:absolute;
  bottom:185px;
  right:9.5%;
}



