<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Embed Demo</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

<h1> Trees analysis tool </h1>
  
  <div class="map">
    {{ plot_div |safe }}
  </div>



<div class="ground"></div>
<div class="tree tree1">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>
<div class="tree tree2">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>
<div class="tree tree3">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>

<div class="tree tree4">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>

<div class="tree tree5">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>



<div class="ground2"></div>
<div class="tree tree1">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>
<div class="tree tree2">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>
<div class="tree tree3">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>

<div class="tree tree4">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>

<div class="tree tree5">
  <div class="trunk">
    <div class="leftbranch"></div>
    <div class="rightbranch"></div>
  </div>
</div>



  </body>
</html>